.header-content {
  margin: 1rem 2rem;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}

.header-content .header-content__title {
  display: flex;
  align-items: center;
  font-family: Manrope;
  font-weight: 600;
}

.header-content .header-content__link {
  float: right;
  font-family: Manrope;
  font-size: 0.825rem;
  font-weight: 600;
  text-decoration: none;
}

.header-content .header-content__link-group {
  display: flex;
  justify-content: flex-end;
}

.header-content .header-content__back-link {
  text-align: start;
  font-family: Manrope;
  padding: 0;
  width: fit-content;
  text-decoration: none;
  font-size: 0.825rem;
  font-weight: 500;
}

.parsing-regions {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  margin: 0 2rem;
  gap: 1rem;
}

.parsing-regions .parsing-regions__title {
  font-family: Manrope;
  font-size: 0.825rem;
  font-weight: 600;
  color: #21212199;
}

.parsing-regions .parsing-regions-right {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
}

.parsing-regions .parsing-regions__btn {
  font-family: Manrope;
  font-size: 0.825rem;
  font-weight: 500;
  text-align: center;
  height: 2.5rem;
  padding-top: 0;
  padding-bottom: 0;
  display: grid;
  white-space: nowrap;
  place-items: center;
}

.parsing-regions .parsing-regions-bottom {
  grid-column: 1 / 3;
  display: flex;
  align-items: center;
  gap: 0 1rem;
}

.download-table {
  margin-top: 1rem;
  text-align: end;
}

.download-table .download-table__link {
  font-family: Manrope;
  font-size: 0.825rem;
  font-weight: 600;
  text-decoration: none;
}

.table {
  font-size: 0.825rem;
  text-align: center;
  font-weight: 500;
  font-family: Manrope;
}

.table .table-head .table-head__title {
  font-family: Manrope;
  font-size: 0.825rem;
  font-weight: 600;
  text-align: center;
  color: #21212199;
}

.table .table-body .table-body__head {
  font-family: Manrope;
  font-size: 0.825rem;
  font-weight: 600;
  text-align: center;
  color: #106cf6;
}

@media screen and (max-width: 768px) {
  .header-content {
    display: flex;
    flex-flow: column;
    margin: 1rem;
  }

  .header-content .header-content__back-link {
    margin: 0.5rem 0;
  }

  .parsing-regions {
    display: flex;
    flex-flow: column;
    margin: 0 1rem;
  }

  .parsing-regions .parsing-regions-right {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
  }

  .parsing-regions .parsing-regions-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }

  .table-container {
    width: 100vw;
    overflow-x: scroll;
    white-space: nowrap;
  }
}
